@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Lato:300);

body {
  font-family: Lato;
  background-color: rgb(250, 250, 250);
}

.blog-header {
  border-bottom: 1px solid darkblue;
}

.blog-footer {
  background-color: rgb(255, 255, 255);

  p {
    padding-top: 10px;
    text-align: center;
    margin: 0;

    &:last-child {
      padding-bottom: 10px;
    }
  }
}

.blog-sidebar {
  margin-top: 15px;
}

.navbar {
  a {
    float: left;
    font-size: 15px;
  }
  
  background-color: rgb(255, 255, 255);
  padding: 15px;
}

a.navbar-brand {font-size: 23px;}